<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
    <title>Bank Transactions</title>
</head>
<body>
    <h1>Bank Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Account Number</th>
                <th>Transaction Amount</th>
                <th>Transaction Date</th>
                <th>Processed Data</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.id }}</td>
                <td>{{ transaction.account_number }}</td>
                <td>{{ transaction.transaction_amount }}</td>
                <td>{{ transaction.transaction_date }}</td>
                <td>{{ transaction.processed_data }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>